header{
  background-color: whitesmoke;
  position: relative;
  background-color: white;
  padding: 0;
  border-bottom: 1px solid brown;
}

a{
  color: brown;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}
a:hover{
  background-color: brown;
  color: white;
  cursor: pointer;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

a.logo{
  font-weight: bold;
  margin: 5px 0px;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul a{
  display: inline-block;
}
 a span {
  background: brown;
  color: white;
  border-radius: 100%;
  padding: 2px 7px;
}

.menu-container{
  position: relative;
}

.menu{
  position: absolute;
  z-index: 1;
  background-color: whitesmoke;
  display: none;
  border-radius: 5px;
  min-width: 100px;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width: 30px;
}

li{
  margin: 5px;
}

.cart:hover .items-in-cart{
  background-color: whitesmoke;
  color: brown;
}
